
{{ define "main" }}
<main class="comics">
  <header>
    {{ partial "header/site-nav.html" . }}
    <div class="comics-logo-background">
      <img class="comics-logo" src="../../img/comics-logo.png" />
    </div>
    <nav>
      <ul class="submenu">
        <li><a href="/comics/about">About</a></li>
        <li><span>Comics</span>
          <ul>
            {{ range first 5 (where .Site.Pages "Type" "comics") }}
                <li><a href="{{ .Permalink }}">{{.Title}}</a></li>
            {{ end }}
            <li><a href="/comics/archive">More?</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <div class="comics-post">
        {{.Content}}
  </div>
  <div class="comics-navigation">
    {{ if eq .Permalink "/comics/1/" }}
      <span><< First</span>
    {{ else }}
      <a href="/comics/1"><< First</a>
    {{ end }}
    {{ if and (.PrevInSection) (ne .PrevInSection.Title  "About") }}
    <a href="{{ .PrevInSection.Permalink }}">< Previous</a>
    {{ else }}
    <span>< Previous</span>
    {{ end }}
    {{ if .NextInSection }}
    <a href="{{ .NextInSection.Permalink }}">Next ></a>
    <a href="/comics">Latest >></a>
    {{ else }}
    <span>Next ></span>
    <span>Latest >></span>
    {{ end }}
  </div>
</main>
{{ end }}