
{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<main class="about-page">
  <header>
    {{ partial "header/site-nav.html" . }}
    <div class="comics-logo-background">
      <img class="comics-logo" src="../../img/comics-logo.png" />
    </div>
    <nav>
      <ul class="submenu">
        <li><a class="active" href="/comics/about">About</a></li>
        <li><span>Comics</span>
          <ul>
            {{ range first 5 (where .Site.Pages "Type" "comics") }}
                <li><a href="{{ .Permalink }}">{{.Title}}</a></li>
            {{ end }}
            <li><a href="/comics/archive">More?</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
	<div class="about-content">
  {{ .Content }}
	</div>
</main>
{{ end }}