
{{ define "main" }}
<main class="archive">
  <header>
    {{ partial "header/site-nav.html" . }}
    <div class="comics-logo-background">
      <img class="comics-logo" src="../../img/comics-logo.png" />
    </div>
    <nav>
      <ul class="submenu">
        <li><a href="/comics/about">About</a></li>
        <li><span>Comics</span>
          <ul>
            {{ range first 5 (where .Site.Pages "Type" "comics") }}
                <li><a href="{{ .Permalink }}">{{.Title}}</a></li>
            {{ end }}
            <li><a href="/comics/archive">More?</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <div class="archive-content">
    {{ range .Site.Pages.Reverse.GroupByParam "Setting" }}
      <div>
        <h2 class="archive-setting"><u>Setting {{ .Key }}</u></h2>  
        {{ range .Pages.GroupByParam "Chapter" }}
        <div>
          <h3 class="archive-chapter"><u>Chapter {{ .Key }}</u></h3>
            <ul class="chapter-list">
              {{ range .Pages }}
              <li class="archive-item"><a href="{{ .Permalink }}">Page #{{ .Title }}</a></li>
              {{ end }}
            </ul>
        </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
</main>
{{ end }}