{{ define "main" }}
    <main aria-role="main">
      <header class="homepage">
        {{ partial "header/site-nav.html" . }}
          <img id="logo" src={{ i18n "logo" }} />

            <div class="videoContainer">
              <div class="videoWrapper">
                <iframe width="640" height="360" src={{ i18n "youtube" }} frameborder="0" allowfullscreen="1"></iframe>
              </div>
              <p>
                {{ i18n "intro" }}
              </p>
            </div>
            <div class="icons">
              {{range .Site.Data.socialLinks.items}}
                {{ if ne .name "gamepedia" }}
                  <a href="{{ .link }}" target="_blank" title="{{ .name }}">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x fa-inverse" aria-hidden="true"></i>
                      <i class="fa fa-{{ .name }} fa-stack-1x" aria-hidden="true"></i>
                    </span>
                  </a> 
                {{else}}
                  <a href="{{ .link }}" class="{{ .name }}-logo-link" target="_blank" title="{{ .name }}">
                    <span class="{{ .name }}-logo">
                    </span>
                  </a>
                {{ end }}
              {{ end }}
            </div>
            {{ if ne .Site.Language.Lang "ja-jp" }}
              <div class="reviews">
                <div>
                  <p><em>“But let me be honest…this game blew me away.”</em></p>
                  <small>8/10 - <a href="http://gamecola.net/2017/02/angels-with-scaly-wings-pc/">GameCola</a></small>
                </div>
                <div>
                  <p><em>“The selling point of this game is to bone/get boned by a dragon.”</em></p>
                  <small>7.5/10 - <a href="https://techraptor.net/content/angels-with-scaly-wings-review">TechRaptor</a></small>
                </div>
                <div>
                  <p><em>“If you're not put off by reading, this game is definitely worth your time.”</em></p>
                  <small>8.3/10 - <a href="http://thegww.com/scaly-wings-review/">Geeks WorldWide</a></small>
                </div>

              </div>
            {{ end }}
            <div class="buy-now">

              <a href="#standard-edition">{{ i18n "buyNow" }}</a>

            </div>

      </header>
      <div class="container">

      <section id="story">
        <h2 class="section-heading">{{ i18n "storyTitle" }}</h2>
        <div class="row">
          <div class="col-md-6 ">

            <p>
              {{ i18n "story" }}
            </p>
          </div>
          <div class="col-md-6">
            <div id="carousel-screenshots" class="carousel slide" data-ride="carousel" data-interval="false">
          <!-- Indicators -->
              <ol class="carousel-indicators">
            <li data-target="#carousel-screenshots" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-screenshots" data-slide-to="1"></li>
            <li data-target="#carousel-screenshots" data-slide-to="2"></li>
            <li data-target="#carousel-screenshots" data-slide-to="3"></li>
            <li data-target="#carousel-screenshots" data-slide-to="4"></li>
            <li data-target="#carousel-screenshots" data-slide-to="5"></li>
            <li data-target="#carousel-screenshots" data-slide-to="6"></li>
            <li data-target="#carousel-screenshots" data-slide-to="7"></li>
            <li data-target="#carousel-screenshots" data-slide-to="8"></li>
            <li data-target="#carousel-screenshots" data-slide-to="9"></li>
            <li data-target="#carousel-screenshots" data-slide-to="10"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src={{ i18n "screenshot01" }} alt=""/>
                </div>
                <div class="item">
                    <img src={{ i18n "screenshot02" }} alt=""/>
                </div>
                <div class="item">
                    <img src={{ i18n "screenshot03" }} alt=""/>
                </div>
                <div class="item">
                    <img src={{ i18n "screenshot04" }} alt=""/>
                </div>
                <div class="item">
                    <img src={{ i18n "screenshot05" }} alt=""/>
                </div>
                <div class="item">
                    <img src={{ i18n "screenshot06" }} alt=""/>
                </div>
                <div class="item">
                    <img src={{ i18n "screenshot07" }} alt=""/>
                </div>
                <div class="item">
                    <img src={{ i18n "screenshot08" }} alt=""/>
                </div>
                <div class="item">
                    <img src={{ i18n "screenshot09" }} alt=""/>
                </div>
                <div class="item">
                    <img src={{ i18n "screenshot10" }} alt=""/>
                </div>
                <div class="item">
                    <img src={{ i18n "screenshot11" }} alt=""/>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-screenshots" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-screenshots" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            </div>
          </div>
        </div>

      </section>

      <section id="features">
       <h2 class="section-heading">{{ i18n "featuresTitle" }}</h2> 
      <div class="row">

        <div class="col-md-6">
          <div id="carousel-profiles" class="carousel slide" data-ride="carousel" data-interval="false">
        <!-- Indicators -->
            <ol class="carousel-indicators">
          <li data-target="#carousel-profiles" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-profiles" data-slide-to="1"></li>
          <li data-target="#carousel-profiles" data-slide-to="2"></li>
          <li data-target="#carousel-profiles" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
              <div class="item active">
                  <img src={{ i18n "adine" }} alt=""/>
              </div>
              <div class="item">
                  <img src={{ i18n "anna" }} alt=""/>
              </div>
              <div class="item">
                  <img src={{ i18n "bryce" }} alt=""/>
              </div>
              <div class="item">
                  <img src={{ i18n "remy" }} alt=""/>
              </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-profiles" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-profiles" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
          </div>
        </div>
        <div class="col-md-6">

          <p>
            <h3>{{ i18n "epicStorylineTitle" }}</h3>
                  <p>{{ i18n "epicStoryline" }}</p>
            <h3>{{ i18n "hangOutTitle" }}</h3>
            <p>
              {{ i18n "hangOut" }}
            </p>
            <h3>{{ i18n "choiceYoursTitle" }}</h3>
            <p>
              {{ i18n "choiceYours" }}
            </p>
            <h3>{{ i18n "townSecretTitle" }}</h3>
            <p>
              {{ i18n "townSecret" }}
            </p>
            <h3>{{ i18n "unlockableGalleryTitle" }}</h3>
            <p>
             {{ i18n "unlockableGallery" }}
            </p>
        </div>
      </div>

      </section>

      <section id="available-now">
        <p>
          {{ i18n "availableNow" }}
        </p>

        <div class="icons">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x fa-inverse" aria-hidden="true"></i>
              <strong class="fa-stack-1x drm-text">DRM<br />{{ i18n "free" }}</strong>
            </span>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x fa-inverse" aria-hidden="true"></i>
              <i class="fa fa-black fa-steam fa-stack-1x" aria-hidden="true"></i>
            </span>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x fa-inverse" aria-hidden="true"></i>
              <i class="fa fa-black fa-windows fa-stack-1x" aria-hidden="true"></i>
            </span>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x fa-inverse" aria-hidden="true"></i>
              <i class="fa fa-black fa-apple fa-stack-1x" aria-hidden="true"></i>
            </span>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x fa-inverse" aria-hidden="true"></i>
              <i class="fa fa-black fa-linux fa-stack-1x" aria-hidden="true"></i>
            </span>
        </div>



      </section>

      <section id="editions">

        <div class="row">
          <div class="col-md-6">
            <div id="standard-edition" class="humble-content">
              <h3>{{ i18n "standardEdition" }}</h3>
              <div class="humble-widget-wrapper">
                <iframe src="https://www.humblebundle.com/widget/v2/product/awsw_standard/75v2Hgs9HH?theme=dark" width="526" height="329" style="border: none;" scrolling="no" frameborder="0"></iframe>
                {{ if ne .Site.Language.Lang "en" }}
                <iframe src="https://store.steampowered.com/widget/571880/?l=japanese" frameborder="0" width="646" height="190"></iframe>
                {{ end }}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div id="deluxe-edition" class="humble-content">
              <h3>{{ i18n "digitalDeluxeEdition" }}</h3>
                <div class="humble-widget-wrapper">
                  <iframe src="https://www.humblebundle.com/widget/v2/product/awsw_dde/EGbq6ydbL0?theme=dark" width="526" height="329" style="border: none;" scrolling="no" frameborder="0"></iframe>
                </div>
            </div>
          </div>
        </div>

      </section>

      <section id="deluxe-edition-content">



        <p>
          {{ i18n "extrasDigital" }}
        </p>

        <div class="row">
          <div class="col-md-3">
            <img src="/img/deluxeedition/item1.png" />
            <h3>{{ i18n "soundtrack" }}</h3>
            <p> {{ i18n "soundtrackInfo" }} </p>
          </div>
          <div class="col-md-3">
            <img src={{ i18n "makingOfCover" }} />
            <h3>{{ i18n "makingOf" }}</h3>
            <p>
              {{ i18n "makingOfInfo" }}
            </p>
          </div>
          <div class="col-md-3">
            <img src="/img/deluxeedition/item3.png" />
            <h3>{{ i18n "artwork" }}</h3>
            <p>{{ i18n "artworkInfo" }}</p>
          </div>
          <div class="col-md-3">
            <img src="/img/deluxeedition/item4.png" />
            <h3>{{ i18n "icons" }}</h3>
            <p>{{ i18n "iconsInfo" }}</p>
          </div>
        </div>

      <div class="humble-widget row">
      <div class="col-md-12">
        <div class="humble-widget-wrapper-small">
          <h3>{{ i18n "upgradeNow" }}</h3>
          <iframe src="https://www.humblebundle.com/widget/v2/product/awsw_upgrade/gL2y4kecqA?theme=dark" width="60%" height="329" style="border: none;" scrolling="no" frameborder="0"></iframe>
          {{ if ne .Site.Language.Lang "en" }}
          <iframe src="https://store.steampowered.com/widget/573290/?l=japanese" frameborder="0" width="646" height="190"></iframe>
          {{ end }}

        </div>
      </div>
      </div>

    </main>
{{ end }}